.navbar-container {
    background-color: white;
    width: 100%;
    height: 10%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 2px solid #333;
    display: flex;
    align-items: center; 
}

.navbar-logo {
    max-height: 60%;
    padding: 3%;
}

.navbar-notifications {
    max-height: 40%;
    padding: 3%;
    margin-left: 2%;
}

.navbar-item,
.navbar-signin {
    font-size: 120%;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    padding: 2.5%;
}

.navbar-signin {
    margin-left: 26%;
    width: 5%;
}

.navbar-item-text {
    text-decoration: none;
    color: black;
}

.navbar-logout {
    font-size: 120%;
    width: 3%;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    background-color: transparent;
    border: transparent;
    margin-left: 3%;
}


.content {
    margin-top: 5%;
}