.background-color-adminAllOrders{
    height: 100vh;
    background: #000000;
    background: -webkit-linear-gradient( to bottom, #999797, #000);
    background: -moz-linear-gradient( to bottom, #999797, #000);
    background: -ms-linear-gradient( to bottom, #999797, #000);
    background: -o-linear-gradient( to bottom, #999797, #000);
    background: linear-gradient( to bottom, #999797, #000);
}

.adminAllOrders-heading {
    font-family: "Koulen Serif", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 0.5mm;
    padding-top: 1%;
    padding-left: 1%;
}

.allOrders-container {
    display:flex;
    align-items: center;
    background-color:white;
    min-height: 20%;
    max-width: 100%;
    border: 3px solid black;
    justify-content: space-between;
}

.allOrders-container-info {
    display:flex;
    background-color:white;
    min-height: 20%;
    max-width: 100%;
    margin-bottom: 0.6%;
    justify-content: space-between;
}

.allOrders-details {
    display: flex;
    font-family: "Koulen Serif", sans-serif;
    background-color:white;
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 0.5mm;
    border: 3px solid black;
    padding-left: 6%;
    padding-right: 6%;
    min-height: 20%;
    max-width: 100%;
    justify-content: space-between;
}

.remove-margin {
    margin: 0;
}
