.background-color-checkout {
    height: 100vh;
    background: #000000;
    background: -webkit-linear-gradient( to bottom, #999797, #000);
    background: -moz-linear-gradient( to bottom, #999797, #000);
    background: -ms-linear-gradient( to bottom, #999797, #000);
    background: -o-linear-gradient( to bottom, #999797, #000);
    background: linear-gradient( to bottom, #999797, #000);
}

.checkout-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1%;
    width: 40%; 
    position: relative;
    margin-top: 5%;
  }


  .checkout-grid {
    display: grid;
    grid-template-columns: 56% 35%;
    padding: 1%;
    gap: 5%;
    margin-top: 1%;
}

.checkout-grid-left {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
}

.checkout-grid-right {
    grid-column: 2;

}



/* TEXT */

.checkout-concert-info-box {
    background-color: white;
    border-radius: 50px;
    text-align: center;
}

.checkout-concert-info-heading {
    color: #000000;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 0.5mm;
    font-size: 200%;
}

.checkout-concert-info-description,
.checkout-concert-info-description-price {
    margin-top: 7%;
    color: #000000;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 0.5mm;
    font-size: 120%;
}

.checkout-heading {
    font-family: "Koulen Serif", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 0.5mm;
    padding-top: 1%;
    padding-left: 1%;
}

.checkout-agreeCheckbox{
    color: #ffffff;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 0.5mm;
    font-size: 170%;
    width: 180%;
    align-items: center;
}

.checkout-remove-margin {
    margin: 0;
}


.input-container {
    display: flex;
    align-items: center;
}

.checkout-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 123%;
  }


.checkout-validation-text {
    margin-top: 5%;
    color: #ffffff;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 1mm;
    width: 45%;
    font-size: 120%;
}

.checkout-validation-text-paymentMethod{
    margin-top: 5%;
    color: #ffffff;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 1mm;
    width: 100%;
    font-size: 120%;
}

.checkout-validation-text-ticketNumber {
    color: #ffffff;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 1mm;
    font-size: 125%;
    width: 1%;
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
}

.checkbox-container-flex {
    display: flex;
    align-items: left;
    margin-top: 3%;
}

.payment-method-image {
    padding: 13%;
    margin-left: 9%;
    width: 60%;
    height: 70%;
}

.payment-method-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    width: 90%;
    height: 30%;
}


/* BUTTONS */
.button-ticket-management {
    color: #ffffff;
    background-color: #9d9b9b;
    font-size: 150%;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    max-height: 5%;
    min-width: 3%;
    margin-top: 6.5%;
    margin-bottom: 3%;
}
.button-ticket-management:hover {
    color: #ffffff;
    background-color: #5f6063;
}

.button-makeOrder{
    color: #000000;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 0.5mm;
    background-color: #ffffff;
    font-size: 270%;
    font-weight: bold;
    border: 1px solid #000000;
    padding: 0.5% 15%;
    cursor: pointer;
    margin-left: 18%;
    margin-top: 4.3%;
    align-items: center;
}

.button-makeOrder:hover {
    color: #ffffff;
    background-color: #929191;
}

#agreeCheckbox {
    margin: 3% 3% 3% 3%;
    height: 30%;
    width: 30%;
}

.payment-method {
    background-color: rgb(255, 255, 255);
    border: 10px solid black;
    min-width: 80%;
    max-height: 100%;
    border-radius: 25px;
    cursor: pointer;
}

.payment-method.selected {
    background-color: rgb(166, 250, 177);
    border: 10px solid rgb(47, 211, 47);
  }


.payment-method:hover {
    background-color: rgb(220, 220, 220);
    border: 10px solid darkgray;
}

.payment-method.selected:hover {
    background-color: rgb(178, 243, 187);
    border: 10px solid rgb(47, 211, 47);
}
