.background-color-signin {
    height: 100vh;
    background: #ffffff;
    background: -webkit-linear-gradient( to top, #ffffff, #000000);
    background: -moz-linear-gradient( to top, #ffffff, #000000);
    background: -ms-linear-gradient( to top, #ffffff, #000000);
    background: -o-linear-gradient( to top, #ffffff, #000000);
    background: linear-gradient( to top, #ffffff, #000000);
}

.signin-text {
    font-size: 15px;
    letter-spacing: 1.5mm;
    margin-top: 13%;
    font-family: "Koulen Serif", sans-serif;
    color: white;
    margin-left: 37%;
}
