.background-color-userIsBanned {
    height: 100vh;
    background: #000000;
    background: -webkit-linear-gradient( to bottom, #999797, #000);
    background: -moz-linear-gradient( to bottom, #999797, #000);
    background: -ms-linear-gradient( to bottom, #999797, #000);
    background: -o-linear-gradient( to bottom, #999797, #000);
    background: linear-gradient( to bottom, #999797, #000);
}


.userIsBanned-text {
    font-size: 200%;
    letter-spacing: 1.5mm;
    padding-top: 1%;
    font-family: "Koulen Serif", sans-serif;
    color: white;
    text-align: center;
}

.button-logOut{
    color: #000000;
    font-family: "Koulen Serif", sans-serif;
    letter-spacing: 0.5mm;
    background-color: #ffffff;
    font-size: 270%;
    font-weight: bold;
    border: 1px solid #000000;
    padding: 0.5% 8%;
    cursor: pointer;
    margin-left: 38%;
    margin-top: 1.3%;
    align-items: center;
}

.button-logOut:hover {
    color: #ffffff;
    background-color: #929191;
}